/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gwt-Button  { font-size: 150%; }
.gwt-TextBox { font-size: 150%; }

#my-button-id { font-size: 150%; }